.container{
    display: flex;
    flex-direction: column;
    padding: 16px 8px;
    margin: 0 auto;
    max-width: 512px;
    gap: 16px;
}

.content_container{
    display: flex;
    flex-direction: column;
    padding: 16px 8px;
    background-color: var(--background-gray);
    border-radius: 6px;
    width: 100%;
    max-width: 512px;
}

.header{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tasks_container {
    min-height: 256px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

/* стартовое состояние появления */
.taskAppear {
    transform: translateX(-20px);
    opacity: 0;
}

/* конечное состояние появления */
.taskAppearActive {
    transform: translateX(0);
    opacity: 1;
    transition: transform 300ms ease-out, opacity 300ms ease-out;
}

/* стартовое состояние удаления */
.taskExit {
    transform: translateX(0);
    opacity: 1;
}

/* конечное состояние удаления */
.taskExitActive {
    transform: translateX(100vw);
    opacity: 0;
    transition: transform 300ms ease-in, opacity 300ms ease-in;
}